---
import TituloPersonalizado from "../components/TituloPersonalizado.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titulo="About Page">
	<h1>About Martin Reyes</h1>

	<h1>Otro</h1>

	<TituloPersonalizado title="Este titulo es personalizado" />
</MainLayout>

<style>
	h1 {
		color: red;
	}
</style>
