---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import type { CollectionEntry } from "astro:content";
import CardAuthor from "src/components/CardAuthor.astro";

const authors = (await getCollection("author"));
---

<MainLayout title="Listado  de autores">
    <h1>Listado de autores</h1>

    <section class="grid grid-cols-1 sm:grid-cols-2 gap-2">
        {
            authors.map((author) => (
                <CardAuthor author={author} />
            ))
        }        
    </section>
</MainLayout>
