---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import { Picture } from "astro:assets";


---

<MainLayout title="Imágenes">
    <h1 class="text-5xl">Imágenes</h1>

    <!-- Image y Picture son dos componentes de Astro que nos permiten optimizar y gestionar nuestras imágenes de manera eficiente. -->
    <!-- <Image quality="low" loading="lazy" /> -->
     <!-- <Picture /> -->
</MainLayout>